* {
    box-sizing: border-box;
}

h1{
    text-align: center;
}

button:hover
 {
    background-color:rgb(176, 135, 222);
}

.on{
    background-color: violet;
}


.container {
    display: inline-flex;
    height: 90vh;
    width: 100vw;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
}

.settings {
    flex: 1;
    min-width: 40%;
    height: 90%;
    border: 2px dotted black;
    font-size: 60%;
    display: flex;
    flex-wrap: wrap;
    overflow:scroll;
    margin: 2px;


}

.keyboard {
    flex: 4;
    width: 100%;
    height: 90%;
    margin: 2px;
}

.octave {
    height: 9vh;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
}

.main-controls {
    display: flex;
    flex-flow: row-reverse;
}

.note {
    min-width: 5vw;
    min-height: 4vh;
    border: 1px solid black;
}

.flat {
    background-color: blueviolet;
}

.modal {
    background-color: violet;
    border: 1px solid white;
    width: 50%;
    padding: 2px;
}

.play-on {
    background-color: blueviolet;
}
.play-off {
    background-color: cornsilk;
}

